API\ Base\ URL=${api.baseUrl}
API\ Target=DummyJSON
Java\ Version=${java.version}
Test\ Framework=JUnit 5
HTTP\ Client=REST Assured
Report\ Type=Allure API automation report
Execution\ Environment=${execution.environment}
Git\ Branch=${git.branch}
Git\ Commit=${git.commit}
GitHub\ Run\ Number=${github.runNumber}
GitHub\ Workflow=${github.workflow}
